---
import translations from "@utils/t.ts";
import Layout from "@layouts/Layout.astro";
import Container from "@src/components/Container.astro";

const t = translations(Astro.url);
---

<Layout title="Publication" description="List of my publications">
	<Container class="pt-16">
		<!-- <p set:html={t.about_description} /> -->
		<div id="discussion" class="border-s-fuchsia-400">
			<div class="text-lg font-bold underline m-1">
				<a href="-" target="_blank" rel="noopener">
					Discussion of «<i>Inference for extreme spatial temperature events in a changing climate with application to Ireland</i>» by Healy, D., Tawn, J., Thorne, P. & Parnell, A. 
				</a>
			</div>
			<div>
				<span>Jordan Richards</span>; <span class="font-bold underline">MyungWon Lee</span>; <span>Viviana Carcaiso</span>; <span>Miguel de Carvalho</span> (2024, to appear) <br> <i>Journal of Royal Statistical Society: Series C</i>
			</div>
			
			<div>

				<ul class="actions small publications">
					<li>
						<a href="-" target="_blank" class="button fit small">
							<span class="fa fa-file-pdf">  </span>
							PDF
						</a>
					</li>
					<li>
						<button class="button fit small" :click="{toggleBibtex}">
							<span class="ai ai-google-scholar"></span>
							Cite
						</button>
					</li>
					<li>
						<a href="-" target="_blank" class="button fit small">
							<span class="fa fa-code">  </span>
							Code
						</a>
					</li>
					<li>
						<a href="#" target="_blank" class="button fit small">
							<span class="fa fa-file-powerpoint">  </span>
							Slides
						</a>
					</li>
					<div>
						<!-- <div id="diss-bibtex" style="display: none;">
							<pre style="overflow-x: auto;">@article{richards2024, title = {Discussion of \guillemotleft{}{{Inference for extreme spatial temperature events in a changing climate with application to Ireland}}\guillemotright{} by {{Healy}}, {{D}}., {{Tawn}}, {{J}}., Thorne, P. \& {{Parnell}}, {{A}}.}, journal = {Journal of the Royal Statistical Society, Ser. C},author = {Richards, Jordan and Lee, MyungWon and Carcaiso, Viviana and {de Carvalho}, Miguel},year = {2024, to appear}}</pre>
						</div> -->
					</div>
				</ul>
			</div>
		</div>
	</Container>
</Layout>


<script>
	let showBibtex = false;

	function toggleBibtex() {
		showBibtex = !showBibtex;
	}
</script>